# Xcode
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
xcuserdata/
*.xccheckout
*.moved-aside
*.xcuserstate
IDEWorkspaceChecks.plist

# Build
build/
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM

# Dependencies
Pods/
Carthage/Build/
.build/

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Misc
*.swp
*~
